<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
			name="ProductDbConnectionString"
			connectionString ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Макс\source\repos\ManageProductDatabase\Presentation\ManageProductDatabase.App\ProductDb.mdf;Integrated Security=True;Connect Timeout=30"
			providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>